parameters:
	ignoreErrors:
		-
			message: '#^Cannot access property \$email on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Controllers/Auth/ConfirmablePasswordController.php

		-
			message: '#^Cannot call method hasVerifiedEmail\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/EmailVerificationNotificationController.php

		-
			message: '#^Cannot call method sendEmailVerificationNotification\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/EmailVerificationNotificationController.php

		-
			message: '#^Cannot call method hasVerifiedEmail\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/EmailVerificationPromptController.php

		-
			message: '#^Parameter \#1 \$key of function __ expects string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/NewPasswordController.php

		-
			message: '#^Cannot call method hasVerifiedEmail\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Cannot call method markEmailAsVerified\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Cannot call method update\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Settings/PasswordController.php

		-
			message: '#^Instanceof between App\\Models\\User\|null and Illuminate\\Contracts\\Auth\\MustVerifyEmail will always evaluate to false\.$#'
			identifier: instanceof.alwaysFalse
			count: 1
			path: app/Http/Controllers/Settings/PasswordController.php

		-
			message: '#^Cannot access property \$email_verified_at on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Controllers/Settings/ProfileController.php

		-
			message: '#^Cannot call method delete\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Settings/ProfileController.php

		-
			message: '#^Cannot call method fill\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Settings/ProfileController.php

		-
			message: '#^Cannot call method isDirty\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Settings/ProfileController.php

		-
			message: '#^Cannot call method save\(\) on App\\Models\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: app/Http/Controllers/Settings/ProfileController.php

		-
			message: '#^Cannot access property \$id on App\\Models\\User\|null\.$#'
			identifier: property.nonObject
			count: 1
			path: app/Http/Requests/Settings/ProfileUpdateRequest.php

		-
			message: '#^Cannot access offset ''Illuminate\\\\Contracts\\\\Http\\\\Kernel'' on Illuminate\\Contracts\\Foundation\\Application\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: app/Providers/TenancyServiceProvider.php

		-
			message: '#^Method App\\Providers\\TenancyServiceProvider\:\:events\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: app/Providers/TenancyServiceProvider.php

		-
			message: '#^Parameter \#2 \.\.\.\$arrays of function array_merge expects array, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: app/Providers/TenancyServiceProvider.php
