includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/

    level: max

    editorUrl: 'vscode://file/%%file%%:%%line%%'

    editorUrlTitle: '%%relFile%%:%%line%%'

    excludePaths:
        - app/Providers/TenancyServiceProvider.php
