name: linter

on:
  push:
    # Run on all branches for push events

  pull_request:
    branches: [develop, main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:

  quality:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.4'

      - name: Setup Node
        uses: pnpm/action-setup@v3
        with:
          version: 10

      - name: Install Dependencies
        run: |
          composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
          pnpm install --frozen-lockfile

      - name: Build Assets
        run: pnpm run build

      - name: Run Rector
        run: composer test:refactor

      - name: Run PHPStan
        run: composer test:types

      - name: Run Pint
        run: composer test:lint

      - name: Run Eslint
        run: pnpm run test:lint

      - name: Run Prettier
        run: pnpm run test:format

      - name: Run Typescript
        run: pnpm run test:types
